<%- layout('./layout/boilerplate.ejs') %>

<div class="mx-auto my-3 arenaBookingsDiv">
  <h1 class="text-center">Arena Bookings : <%=arena.name%></h1>
  <p class="text-center fs-4"><%=arena.location%></p>
  
  <h2 class="fs-4 mt-5 text-uppercase text-decoration-underline">Upcoming Bookings</h2>
  <% for(let sport of arena.sports){ %> 
    <h3 class="fs-4"> <%=sport%> </h3>
    <% if (upcomingBookings.some(booking=>(booking.sport===sport))){%>
      <table class="table table-hover mb-5 mx-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Time (hrs)</th>
            <th scope="col">Remarks</th>
          </tr>
        </thead>
        <tbody>
          <%let i=0; upcomingBookings.filter(booking=>booking.sport===sport).forEach(booking=>{ i++; %>
            <tr>
              <th scope="row"><%=i%></th>
              <!-- date -->
              <td>
                <%=(booking.date.getMonth()+1)<10? '0'+(booking.date.getMonth()+1) : (booking.date.getMonth()+1) %>-<%= booking.date.getDate()<10?'0'+booking.date.getDate():booking.date.getDate() %>-<%=booking.date.getFullYear()%>
              </td>
              <!-- time -->
              <td>
                <% if(booking.time<10){ %> 
                  <%= booking.time%1==0? '0' + booking.time : '0'+ (booking.time-0.5) %>:<%= booking.time%1==0?'00':'30' %>
                <% }else{ %> 
                  <%= booking.time%1==0?booking.time:booking.time-0.5 %>:<%= booking.time%1==0?'00':'30' %>
                <% } %>
              </td>
              <td>
                <% if (arena.owner.equals(booking.playerId._id)){ %>
                  Booked by owner 
                <% } %> 
              </td>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    <%}else{%>
      <p>No bookings yet!</p>
    <%}%>
  <% } %> 
    
  <h2 class="fs-4 mt-5 text-uppercase text-decoration-underline">Past Bookings <span id="arrow" class="text-decoration-none" onclick="toggleArrowDisplay(this)">&#9660;</span></h2>
  <div id="pastBookings"class="toggleDisplay hidden">
    <% for(let sport of arena.sports){ %> 
      <h3 class="fs-4"> <%=sport%> </h3>
      
      <% if (pastBookings.some(booking=>(booking.sport===sport))){%>
        <table class="table table-hover mb-5 mx-auto">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Time (hrs)</th>
              <th scope="col">Remarks</th>
            </tr>
          </thead>
            <tbody>
              <%let j=0; pastBookings.filter(booking=>booking.sport===sport).forEach(booking=>{ j++;%>
              <tr>
                <th scope="row"><%=j%></th>
                <!-- date -->
                <td>
                  <%=(booking.date.getMonth()+1)<10? '0'+(booking.date.getMonth()+1) : (booking.date.getMonth()+1) %>-<%= booking.date.getDate()<10?'0'+booking.date.getDate():booking.date.getDate() %>-<%=booking.date.getFullYear()%>
                </td>
                <!-- time -->
                <td>
                  <% if(booking.time<10){ %> 
                    <%= booking.time%1==0? '0' + booking.time : '0'+ (booking.time-0.5) %>:<%= booking.time%1==0?'00':'30' %>
                  <% }else{ %> 
                    <%= booking.time%1==0?booking.time:booking.time-0.5 %>:<%= booking.time%1==0?'00':'30' %>
                  <% } %>
                </td>
                <td>
                  <% if (arena.owner.equals(booking.playerId._id)){ %>
                    Booked by owner 
                  <% } %> 
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        
      <%}else{%>
        <p>No bookings to show!</p>
      <%}%>
    <%}%>
  </div>
</div>
