<!-- form to get details of a new arena -->

<%- layout('./layout/boilerplate.ejs') %>

    

    <form method="POST" action="/arenas" class="arenaForm needs-validation" enctype="multipart/form-data" onsubmit="validateSports(event)" novalidate>
        <h1 class="text-center">Enter Details of New Arena</h1>
        <p class="text-center fst-italic mb-0">All fields are required.</p>
        <div class="mb-3">
            <label for="name" class="form-label">Enter Name:</label>
            <input class="form-control" type="text" name="arena[name]" id="name" required>
            <div class="invalid-feedback">
                Required!
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Enter Location:</label>
            <input class="form-control" type="text" name="arena[location]" id="location" required>
            <div class="invalid-feedback">
                Required!
            </div>
        </div>

        

            <div class="mb-3">Sports Offered: (Pick atleast one)
                <div class="form-check sports">
                    <input class="form-check-input" type="checkbox" value="Badminton" id="Badminton" name="arena[sports]">
                    <label class="form-check-label" for="Badminton">
                        Badminton
                    </label>
                </div>
                <div class="form-check sports">
                    <input class="form-check-input" type="checkbox" value="Baseball" id="Baseball" name="arena[sports]">
                    <label class="form-check-label" for="Baseball">
                        Baseball
                    </label>
                </div>
                <div class="form-check sports">
                    <input class="form-check-input" type="checkbox" value="Basketball" id="Basketball" name="arena[sports]">
                    <label class="form-check-label" for="Basketball">
                        Basketball
                    </label>
                </div>
                <div class="form-check sports">
                    <input class="form-check-input" type="checkbox" value="Boxing" id="Boxing" name="arena[sports]">
                    <label class="form-check-label" for="Boxing">
                        Boxing
                    </label>
                </div>
                <div class="form-check sports">
                    <input class="form-check-input" type="checkbox" value="Cricket" id="Cricket" name="arena[sports]">
                    <label class="form-check-label" for="Cricket">
                        Cricket
                    </label>
                </div>
                <div class="form-check sports">
                    <input class="form-check-input" type="checkbox" value="Football" id="Football" name="arena[sports]">
                    <label class="form-check-label" for="Football">
                        Football
                    </label>
                </div>
                <div class="form-check sports">
                    <input class="form-check-input" type="checkbox" value="IceHockey" id="IceHockey" name="arena[sports]">
                    <label class="form-check-label" for="IceHockey">
                        IceHockey
                    </label>
                </div>
                <div class="form-check sports">
                    <input class="form-check-input" type="checkbox" value="Yoga" id="Yoga" name="arena[sports]">
                    <label class="form-check-label" for="Yoga">
                        Yoga
                    </label>
                </div>    
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Enter price per hour:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input class="form-control" type="number" name="arena[price]" id="price" min="0" max="500" required>
                    <div class="invalid-feedback">
                    Required! Max value: 500
                    </div>
                </div>
                
            </div>

        

        <div class="mb-3">
            <label for="description" class="form-label">Enter Description:</label>
            <textarea class="form-control" name="arena[description]" id="description" rows="3" required></textarea>
            <div class="invalid-feedback">
                Required!
            </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Add image(s):</label>
            <input class="form-control" type="file" name="image" id="image" onchange="validateFileSize(this), validateFileNumber(this)" multiple required aria-describedby="imageHelp">
            <div id="imageHelp" class="form-text">Min 1 and max 3 images can be uploaded at a time. Images must be jpeg/ jpg/ png format. Max file size of each image: 2 MB</div>
            <div class="invalid-feedback">
                Please upload atleast 1 image.
            </div>
        </div>

        <h2 class="mb-2">BOOKING DETAILS</h2>
        <h3 class="mb-3 fs-5">SELECT DATE</h3>
        <div class="mb-3 d-flex justify-content-start flex-wrap">
            <div class="me-5 mb-3">
                <label for="startDate" class="form-label">FIRST DATE to accept Bookings:</label>
                <input class="form-control" type="date"  name="arena[startDate]" id="startDate" required onchange="checkStartDate(this)">
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>
            <div>
                <label for="endDate" class="form-label">LAST DATE to accept Bookings:</label>
                <input class="form-control" type="date" name="arena[endDate]" id="endDate" required onchange="checkEndDate(this)" >
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>
        </div>
        <h3 class="mb-3 fs-5">SELECT TIME OF:</h3>
        <div class="mb-3 d-flex justify-content-start flex-wrap">
            <div class="me-5 mb-3">
                <label for="startTiming" class="form-label">FIRST BOOKING of the day:</label>
                <select class="form-control" id="startTiming" name="arena[startTiming]" required onchange="checkStartTiming(this)">
                    <option value="">Choose an Option</option>
                    <% for (let i=0;i<24;i=i+0.5){ %>
                        <option value=<%=i%>> <%= i%1==0?i:i-0.5 %> : <%= i%1==0?'00':'30' %> hrs</option>
                    <% } %>
                </select>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>
            <div class="me-5 mb-3">
                <label for="endTiming" class="form-label">LAST BOOKING of the day:</label>
                <select class="form-control" id="endTiming" name="arena[endTiming]" required onchange="checkEndTiming(this)">
                    <option value="">Choose an Option</option>
                    <% for (let i=0;i<24;i=i+0.5){ %>
                        <option value=<%=i%>> <%= i%1==0?i:i-0.5 %> : <%= i%1==0?'00':'30' %> hrs</option>
                    <% } %>
                </select>
                <div class="invalid-feedback">
                    Required!
                </div>
                
            </div>
            <div >
                <label for="duration" class="form-label">Duration of each booking:</label>
                <select class="form-control" id="duration" name="arena[duration]" required>
                    <option value="">Choose an Option</option>
                    <option value="0.5">30 minutes</option>
                    <option value="1">1 hour</option>
                </select>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>
        </div>
        
        
        <button type="submit" class="btn btn-primary my-3 me-3">Submit</button>
        <a href="/arenas" class="btn btn-dark">Cancel</a>
    </form>
    


    


