<!-- show page with all the details of a selected arena -->

<%- layout('./layout/boilerplate.ejs') %>

<div class="showpageDiv">

  <div class="card bg-dark text-white mx-auto">
    <div class="carousel slide showpageImages" data-bs-ride="carousel" id="carouselIndicators">
    
      <div class="carousel-inner">
        <% arena.images.forEach ( (img,index)=>{ %>
          <div class="carousel-item <%= index===0? 'active' : '' %>">
            <img src="<%=img.aspectratio%>" class="d-block mx-auto" alt="arena images">
          </div>
        <% }) %>
      </div>

      <% if(arena.images.length>1){ %> 
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      <% } %> 
    </div>

    <div class="card-img-overlay nameOnImage">
      <h2 class="card-title"><%=arena.name%></h2>
      <hr>
      <p><%=arena.location%></p>
    </div>
  </div>

  <div class="showpageFlexBox d-flex flex-column flex-lg-row">
    <!-- 2 flexboxes(each has 2 cards) inside a flexbox -->
    
    <!-- 1st flex-box -->
    <div class="firstFlexBox"> 

      <div class="card mb-5">
        <div class="card-header ">ACTIVITIES AVAILABLE</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%for (let sport of arena.sports){%>
            &nbsp; • <%=sport%>
            <%}%>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header ">ADDITIONAL INFORMATION</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%=arena.description%></li>
          <li class="list-group-item"><span>Price : $ </span> <%=arena.price%> per hour</li>
        </ul>
      </div>
    </div>

    <!-- 2nd flexbox -->
    <div class="secondFlexBox">

      <div class="card mb-5">
        <div class="card-header ">TIMINGS</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <% if(arena.startTiming<10){ %> 
              <%= arena.startTiming%1==0?'0'+arena.startTiming:'0'+(arena.startTiming-0.5) %>:<%= arena.startTiming%1==0?'00':'30' %> to <%= arena.endTiming%1==0?arena.endTiming:arena.endTiming-0.5 %>:<%= arena.endTiming%1==0?'00':'30' %> hrs 
            <% }else{ %> 
              <%= arena.startTiming%1==0?arena.startTiming:arena.startTiming-0.5 %>:<%= arena.startTiming%1==0?'00':'30' %> to <%= arena.endTiming%1==0?arena.endTiming:arena.endTiming-0.5 %>:<%= arena.endTiming%1==0?'00':'30' %> hrs 
            <% } %> 
          </li>
        </ul>
      </div>

      <div class="card showpageLocation">
        <div class="card-header">LOCATION</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%=arena.location%>
            <div class="d-flex justify-content-center">
          
              <iframe id="gMap" width="100%" height="250" title="Google Maps integration for location" src="https://maps.google.com/maps?q=<%=arena.location%>&t=&z=15&ie=UTF8&iwloc=&output=embed" loading="lazy"></iframe>
              
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>


  <!-- arena owner controls -->
  <div class="showpageControls d-flex flex-row flex-wrap justify-content-start">
    
    <% if (loggedUser && arena.owner.equals(loggedUser._id)){ %> 
      <a href="/arenas/<%=arena._id%>/edit" class="btn btn-primary me-3 mb-3">Edit Arena</a>
      
      <form method="POST" action="/arenas/<%=arena._id%>?_method=DELETE" onsubmit="confirmDeleteArena(event)">
        <button class="btn btn-danger me-3 mb-3 deleteBtn" type="submit">DELETE</button>
      </form>
      
      <a href="/arenas/<%=arena._id%>/bookings" class="btn btn-secondary me-3 mb-3">View Bookings</a>
      
    <% } %>
     
    <a href="/arenas/<%=arena._id%>/book" class="btn btn-success me-3 mb-3">Book Now</a>
    <a href="/arenas" class="btn btn-dark mb-3">All Arenas</a>
    
  </div>

</div>

