<%- layout('./layout/boilerplate.ejs') %>

<div class="mx-auto my-3 arenaBookingsDiv">
  <h1 class="text-center">Arena Bookings : <%=arena.name%></h1>
  <p class="text-center fs-4"><%=arena.location%></p>
  
        
  <% for(let sport of arena.sports){ %> 
    <h2 class="mt-5 text-uppercase text-decoration-underline"> <%=sport%> </h2>
    
    <% arena.sportBookings.forEach(sbooking=> {if (sbooking.sport===sport){ if(sbooking.bookings.length>0){%>

      <h3 class="fs-4">Upcoming bookings</h2>
        <table class="table table-hover mb-5 mx-auto">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Time (hrs)</th>
              <th scope="col">Remarks</th>
            </tr>
          </thead>
          <tbody>
            <%let j=0; for (let i=0;i<sbooking.bookings.length;++i){ if(sbooking.bookings[i].date>today){++j; %>
              <tr>
                <th scope="row"><%=j%></th>
                <!-- date -->
                <td><%=(sbooking.bookings[i].date.getMonth()+1)<10? '0'+(sbooking.bookings[i].date.getMonth()+1) : (sbooking.bookings[i].date.getMonth()+1) %>-<%= sbooking.bookings[i].date.getDate()<10?'0'+sbooking.bookings[i].date.getDate():sbooking.bookings[i].date.getDate() %>-<%=sbooking.bookings[i].date.getFullYear()%></td>
  
                <!-- time -->
                <td> 
                  <% if(sbooking.bookings[i].time<10){ %> 
                    <%= sbooking.bookings[i].time%1==0? '0' + sbooking.bookings[i].time : '0'+ (sbooking.bookings[i].time-0.5) %>:<%= sbooking.bookings[i].time%1==0?'00':'30' %>
                  <% }else{ %> 
                    <%= sbooking.bookings[i].time%1==0?sbooking.bookings[i].time:sbooking.bookings[i].time-0.5 %>:<%= sbooking.bookings[i].time%1==0?'00':'30' %>
                  <% } %> 
                </td>
                <td>
                  <% if (arena.owner.equals(sbooking.bookings[i].playerId._id)){ %>
                    Booked by owner 
                  <% } %> 
                </td>
              </tr>
            <%}}%>
          </tbody>
        </table>
        <h3 class="fs-4">Past bookings <span id="arrow" onclick="toggleArrowDisplay(this)">&#9660;</span></h2>
        <table class="table table-hover toggleDisplay hidden mb-5 mx-auto">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Time (hrs)</th>
              <th scope="col">Remarks</th>
            </tr>
          </thead>
          <tbody>
            <%let k=0; for (let i=0;i<sbooking.bookings.length;++i){ if(sbooking.bookings[i].date<=today){++k; %>
              <tr>
                <th scope="row"><%=k%></th>
                <!-- date -->
                <td><%=(sbooking.bookings[i].date.getMonth()+1)<10? '0'+(sbooking.bookings[i].date.getMonth()+1) : (sbooking.bookings[i].date.getMonth()+1) %>-<%= sbooking.bookings[i].date.getDate()<10?'0'+sbooking.bookings[i].date.getDate():sbooking.bookings[i].date.getDate() %>-<%=sbooking.bookings[i].date.getFullYear()%></td>
  
                <!-- time -->
                <td> 
                  <% if(sbooking.bookings[i].time<10){ %> 
                    <%= sbooking.bookings[i].time%1==0? '0' + sbooking.bookings[i].time : '0'+ (sbooking.bookings[i].time-0.5) %>:<%= sbooking.bookings[i].time%1==0?'00':'30' %>
                  <% }else{ %> 
                    <%= sbooking.bookings[i].time%1==0?sbooking.bookings[i].time:sbooking.bookings[i].time-0.5 %>:<%= sbooking.bookings[i].time%1==0?'00':'30' %>
                  <% } %> 
                    
                </td>
                <td>
                  <% if (arena.owner.equals(sbooking.bookings[i].playerId._id)){ %>
                    Booked by owner 
                  <% } %> 
                </td>
              </tr>
            <%}}%>
          </tbody>
        </table>

    <%}else{%>
      <p>No Booking yet!</p>
    <%} }%>
      
    <%})%>

  <% } %> 

    
</div>
