<%- layout('./layout/boilerplate.ejs') %>

  
  
<div class="bookingForm mx-auto my-5" >

    <h1>Book your Time Slot</h1>
    <h2><%=arena.name%></h2>
    <h3><%=arena.location%></h3>
    <h4>Looking for <%=sport%>  on <%=bookingDateStr%> </h4>
    
     
    <form method="POST" action="/arenas/<%=arena._id%>/book" class="needs-validation mt-5" novalidate>
        
        
        <div class="mb-3 visually-hidden">
            <label class="form-label" for="sport-select">Sport: </label>
            <select class="form-control" id="sport-select" name="sport" value=<%=sport%> required>
                <option value=<%=sport%>> <%=sport%> </option>
            </select>
            
        </div>
        
        <div class="mb-3 visually-hidden">
            <label class="form-label" for="date-select">Date:</label>
            <input class="form-control" type="date" id="date-select" name="date" min=<%=bookingDateStr%> max=<%=bookingDateStr%> value=<%=bookingDateStr%>  required>
            
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="time-select">Available Time Slots: </label>
            <select class="form-control" id="time-select" name="time" required>
                <option value="">Choose an Option</option>
                <% for (let i of availableTimeSlots){ %>
                    <option value=<%=i%>><%= i%1==0?i:i-0.5 %> : <%= i%1==0?'00':'30' %> hrs</option>
                <% } %>
            </select>
                
        </div>
        
        <button type="submit" class="btn btn-success my-3 me-3">Book</button>
        <a href="/arenas/<%=arena._id%>/book" class="btn btn-primary me-3">Modify Search</a>
        <a href="/arenas/<%=arena._id%>" class="btn btn-dark my-3">Arena Details</a>

    </form>

            
</div>

