<!-- info page to tell the user that the arena has been booked -->

<%- layout('./layout/boilerplate.ejs') %>

  
  
<div class="w-75 mx-auto mt-5 text-start text-md-center">

    <h2>Successfully Booked!</h2>
    <p class="text-uppercase"><%=arena.name%>, <%=arena.location%></p>
    <p class="fst-italic">for <%=sport%> on <%=bookingDateString%>, at 
        <%= time%1==0?time:time-0.5 %>:<%= time%1==0?'00':'30' %> hrs
    </p>
    <p>A confirmation email has also been sent to your registered email id.</p>

    <a href="/arenas/<%=arena._id%>" class="btn btn-warning mt-5 me-3">Back to arena</a>
    <a href="/arenas" class="btn btn-dark mt-5">All Arenas</a>

</div>