<%- layout('./layout/boilerplate.ejs') %>

  
  
<div class="w-50 mx-auto mt-5" >

    <h1>Book your Time Slot</h1>
    <h2><%=arena.name%></h2>
    <h3><%=arena.location%></h3>
    <h4>Looking for <%=sport%>  on <%=dateString%> </h4>
    
     
    <form method="POST" action="/arenas/<%=arena._id%>/book" class="needs-validation mt-5" novalidate>
        
        
        <div class="form-group mb-3 visually-hidden">
            <label class="form-label" for="sport-select">Sport: </label>
            <select class="form-control" id="sport-select" name="sport" value=<%=sport%> required>
                <option value=<%=sport%>> <%=sport%> </option>
            </select>
            
        </div>
        
        <div class="form-group mb-3 visually-hidden">
            <label class="form-label" for="date-select">Date:</label>
            <input class="form-control" type="date" id="date-select" name="date" min=<%=dateString%> max=<%=dateString%> value=<%=dateString%>  required>
            
        </div>
        
        <div class="form-group mb-3">
            <label class="form-label" for="time-select">Available Time Slots: </label>
            <select class="form-control" id="time-select" name="time" required>
                <option value="">Please Choose an Option</option>
                <% for (let i of availableTimeSlots){ %>
                    <option value=<%=i%>><%=i%>:00 hrs</option>
                <% } %>
                </select>
                
            </div>
        
        

        

        <button type="submit" class="btn btn-success">Book</button>
        <a href="/arenas/<%=arena._id%>/book" class="btn btn-primary">Modify Search</a>
        <a href="/arenas/<%=arena._id%>" class="btn btn-dark">Arena Details</a>

    </form>

            
</div>

