<%- layout('./layout/boilerplate.ejs') %>

        <form method="POST" action="/arenas/<%=arena._id%>?_method=PUT" class="w-75 mx-auto needs-validation" novalidate enctype="multipart/form-data">
            <h1 class="text-center">Edit Details of Arena</h1>
            <div class="form-group mb-3">
                <label for="name">Enter Name:</label>
                <input class="form-control" type="text" name="arena[name]" id="name" value="<%=arena.name%>" required>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="location">Enter Location:</label>
                <input class="form-control" type="text" name="arena[location]" id="location" value="<%=arena.location%>" required>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>

            <div class="mb-3">Sports Offered:
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Badminton" id="Badminton" name="arena[sports]" <%= arena.sports.includes("Badminton") ? "checked" : "" %>>
                    <label class="form-check-label" for="Badminton">
                        Badminton
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Basketball" id="Basketball" name="arena[sports]"  <%= arena.sports.includes("Basketball") ? "checked" : "" %> >
                    <label class="form-check-label" for="Basketball">
                        Basketball
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Baseball" id="Baseball" name="arena[sports]" <%= arena.sports.includes("Baseball") ? "checked" : "" %>>
                    <label class="form-check-label" for="Baseball">
                        Baseball
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Boxing" id="Boxing" name="arena[sports]" <%= arena.sports.includes("Boxing") ? "checked" : "" %>>
                    <label class="form-check-label" for="Boxing">
                        Boxing
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Cricket" id="Cricket" name="arena[sports]" <%= arena.sports.includes("Cricket") ? "checked" : "" %>>
                    <label class="form-check-label" for="Cricket">
                        Cricket
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Football" id="Football" name="arena[sports]" <%= arena.sports.includes("Football") ? "checked" : "" %>>
                    <label class="form-check-label" for="Football">
                        Football
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="IceHockey" id="IceHockey" name="arena[sports]" <%= arena.sports.includes("IceHockey") ? "checked" : "" %>>
                    <label class="form-check-label" for="IceHockey">
                        IceHockey
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Yoga" id="Yoga" name="arena[sports]" <%= arena.sports.includes("Yoga") ? "checked" : "" %>>
                    <label class="form-check-label" for="Yoga">
                        Yoga
                    </label>
                </div>
            </div>

            <div class="form-group mb-3">
                
                <label for="price">Enter price per hour:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                <input class="form-control" type="number" name="arena[price]" id="price" value="<%=arena.price%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Required!
                </div>
                </div>
            </div>

            <!-- <div class="form-group mb-3">
                <label for="timing">Enter Timings :</label>
                <input class="form-control" type="text"  name="arena[timing]" id="timing" value="<%=arena.timing%>" required>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div> -->

            <div class="form-group mb-3">
                <label for="description">Enter Description:</label>
                <textarea class="form-control" name="arena[description]" id="description" rows="3" required><%=arena.description%></textarea>
                
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>

            <!-- <div class="form-group mb-3">
                <label for="image">Enter Image URL:</label>
                <input class="form-control" type="text" name="arena[image]" id="image" value="<%=arena.image%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div> -->

            <div class="form-group mb-3">
                <label for="image" class="form-label">Add more images (max 3 files with max file size of 2MB) : </label>
                <input class="form-control" type="file" name="image" id="image" onchange="validateFileSize(this), validateFileNumber(this)" multiple>
                <!--validateFileSize prevent uploading image of large size, see public/javascripts-->
            </div>

            <div class="form-group mb-3">
                <label>Delete Images:</label>
                <div class="row row-cols-4 g-4 mb-3">
                    <%for (let img of arena.images) {%>
                        <div class="col">
                            <div class="card">
                                <img src="<%=img.cropped%>" alt="" class="img-thumbnail">
                                <!--cropped is using virtual on models/campgrounds to give a 4:3 image-->
                                <div class="card-img-overlay text-end pt-1 pe-2">
                                    <input class="form-check-input" type="checkbox" name="deleteImages[]" value="<%=img.filename%>" >    
                                </div>
                            </div>
                        </div>
                    <%}%> 
                </div>
    
            </div>
            
            <h2>EDIT BOOKING DETAILS</h2>
            <div class="form-group mb-3">
                <label for="startDate">Enter the first date to accept Bookings:</label>
                <input class="form-control" type="date"  name="arena[startDate]" id="startDate" value=<%=startDateString%> required>
                <div class="invalid-feedback">
                    Required!
                </div>
                <label for="endDate">Enter the last date to accept Bookings:</label>
                <input class="form-control" type="date" name="arena[endDate]" id="endDate" value=<%=endDateString%> required>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>
            
            <div class="form-group mb-3">
                <label for="startTiming">Enter the time of the First Booking of the day (in 24 hour format):</label>
                <input class="form-control" type="number"  min="1" max="23"  name="arena[startTiming]" id="startTiming" value="<%=arena.startTiming%>" required>
                <div class="invalid-feedback">
                    Required!
                </div>
                <label for="endTiming">Enter the time of the Last Booking of the day (in 24 hour format):</label>
                <input class="form-control" type="number"  min="1" max="23" name="arena[endTiming]" id="endTiming" value="<%=arena.endTiming%>" required>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>


            <button type="submit" class="btn btn-primary my-3">Update</button>
            <a href="/arenas/<%=arena._id%>" class="btn btn-dark">Cancel</a>
        </form>
    
    
        
    
    