<%- layout('./layout/boilerplate.ejs') %>

        <form method="POST" action="/arenas/<%=arena._id%>?_method=PUT" class="arenaForm needs-validation" novalidate enctype="multipart/form-data">
            <h1 class="text-center">Edit Details of Arena</h1>
            <div class="mb-3">
                <label for="name" class="form-label">Enter Name:</label>
                <input class="form-control" type="text" name="arena[name]" id="name" value="<%=arena.name%>" required>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Enter Location:</label>
                <input class="form-control" type="text" name="arena[location]" id="location" value="<%=arena.location%>" required>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>

            <div class="mb-3">Sports Offered:
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Badminton" id="Badminton" name="arena[sports]" <%= arena.sports.includes("Badminton") ? "checked" : "" %>>
                    <label class="form-check-label" for="Badminton">
                        Badminton
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Basketball" id="Basketball" name="arena[sports]"  <%= arena.sports.includes("Basketball") ? "checked" : "" %> >
                    <label class="form-check-label" for="Basketball">
                        Basketball
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Baseball" id="Baseball" name="arena[sports]" <%= arena.sports.includes("Baseball") ? "checked" : "" %>>
                    <label class="form-check-label" for="Baseball">
                        Baseball
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Boxing" id="Boxing" name="arena[sports]" <%= arena.sports.includes("Boxing") ? "checked" : "" %>>
                    <label class="form-check-label" for="Boxing">
                        Boxing
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Cricket" id="Cricket" name="arena[sports]" <%= arena.sports.includes("Cricket") ? "checked" : "" %>>
                    <label class="form-check-label" for="Cricket">
                        Cricket
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Football" id="Football" name="arena[sports]" <%= arena.sports.includes("Football") ? "checked" : "" %>>
                    <label class="form-check-label" for="Football">
                        Football
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="IceHockey" id="IceHockey" name="arena[sports]" <%= arena.sports.includes("IceHockey") ? "checked" : "" %>>
                    <label class="form-check-label" for="IceHockey">
                        IceHockey
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Yoga" id="Yoga" name="arena[sports]" <%= arena.sports.includes("Yoga") ? "checked" : "" %>>
                    <label class="form-check-label" for="Yoga">
                        Yoga
                    </label>
                </div>
            </div>

            <div class="mb-3">
                
                <label for="price" class="form-label">Enter price per hour:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                <input class="form-control" type="number" name="arena[price]" id="price" value="<%=arena.price%>" required>
                <div class="invalid-feedback">
                    Required!
                </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Enter Description:</label>
                <textarea class="form-control" name="arena[description]" id="description" rows="3" required><%=arena.description%></textarea>
                
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Add more images: </label>
                <input class="form-control" type="file" name="image" id="image" onchange="validateFileSize(this), validateFileNumber(this)" multiple aria-describedby="imageHelp">
                <div id="imageHelp" class="form-text">Max 3 images can be uploaded at a time. Images must be jpeg/ jpg/ png format. Max file size of each image: 2 MB</div>
                <!--validateFileSize prevent uploading image of large size, see public/javascripts-->
            </div>

            <div class="mb-3">
                <label class="form-label">Delete existing images:</label>
                <div class="row row-cols-4 g-4 mb-3 pt-1">
                    <%for (let img of arena.images) {%>
                        <div class="col">
                            <div class="card">
                                <img src="<%=img.cropped%>" alt="" class="img-thumbnail">
                                <!--cropped using virtual on models/arenas to give a 4:3 image-->
                                <div class="card-img-overlay m-0">
                                    <input class="form-check-input" type="checkbox" name="deleteImages[]" value="<%=img.filename%>" >    
                                </div>
                            </div>
                        </div>
                    <%}%> 
                </div>
    
            </div>
            
            <h2>EDIT BOOKING DETAILS</h2>
            <h3 class="mb-3 fs-5">SELECT DATE</h3>
            <div class="mb-3 d-flex justify-content-start flex-wrap">
                <div class="me-5 mb-3">
                    <label for="startDate" class="form-label">FIRST DATE to accept Bookings:</label>
                    <input class="form-control" type="date"  name="arena[startDate]" value="<%=startDateString%>" id="startDate" required onchange="checkStartDate(this)">
                    <div class="invalid-feedback">
                        Required!
                    </div>
                </div>
                <div>
                    <label for="endDate" class="form-label">LAST DATE to accept Bookings:</label>
                    <input class="form-control" type="date" name="arena[endDate]" value="<%=endDateString%>" id="endDate" required onchange="checkEndDate(this)" >
                    <div class="invalid-feedback">
                        Required!
                    </div>
                </div>
            </div>
            <h3 class="mb-3 fs-5">SELECT TIME OF:</h3>
            <div class="mb-3 d-flex justify-content-start flex-wrap">
                <div class="me-5 mb-3">
                    <label for="startTiming" class="form-label">FIRST BOOKING of the day:</label>
                    <select class="form-control" id="startTiming" name="arena[startTiming]" required>
                        <option value="">Choose an Option</option>
                        <% for (let i=0;i<24;i=i+0.5){ %>
                            <option value=<%=i%> <%= i===arena.startTiming? "selected":""%>> <%= i%1==0?i:i-0.5 %> : <%= i%1==0?'00':'30' %> hrs</option>
                        <% } %>
                    </select>
                </div>
                <div class="me-5 mb-3">
                    <label for="endTiming" class="form-label">LAST BOOKING of the day:</label>
                    <select class="form-control" id="endTiming" name="arena[endTiming]" required onchange="checkEndTiming(this)" >
                        <option value="">Choose an Option</option>
                        <% for (let i=0;i<24;i=i+0.5){ %>
                            <option value=<%=i%> <%= i===arena.endTiming? "selected":""%>> <%= i%1==0?i:i-0.5 %> : <%= i%1==0?'00':'30' %> hrs</option>
                        <% } %>
                    </select>
                    
                </div>
                <div >
                    <label for="duration" class="form-label">Duration of each booking:</label>
                    <select class="form-control" id="duration" name="arena[duration]" value="<%=arena.duration%>" required>
                        <option value="">Choose an Option</option>
                        <option value="0.5" <%= arena.duration==0.5? "selected":""%>>30 minutes</option>
                        <option value="1" <%= arena.duration==1? "selected":""%>>1 hour</option>
                    </select>
                </div>
            </div>



            <button type="submit" class="btn btn-primary my-3 me-3">Update</button>
            <a href="/arenas/<%=arena._id%>" class="btn btn-dark">Cancel</a>
        </form>
    
    
        
    
    