<%- layout('./layout/boilerplate.ejs') %>

        <form method="POST" action="/arenas/<%=arena._id%>?_method=PUT" class="w-75 mx-auto">
            <h1 class="text-center">Edit Details of Arena</h1>
            <div class="form-group">
                <label for="name">Enter Name:</label>
                <input class="form-control" type="text" name="arena[name]" id="name" value="<%=arena.name%>">
            </div>
            <div class="form-group">
                <label for="location">Enter Location:</label>
                <input class="form-control" type="text" name="arena[location]" id="location" value="<%=arena.location%>">
            </div>
            <div class="form-group">
                
                <label for="price">Enter price per hour:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                <input class="form-control" type="number" name="arena[price]" id="price" value="<%=arena.price%>">
                </div>
            </div>
            <div class="form-group">
                <label for="image">Enter Image URL:</label>
                <input class="form-control" type="text" name="arena[image]" id="image" value="<%=arena.image%>">
            </div>
            <div class="form-group">
                <label for="description">Enter Description:</label>
                <textarea class="form-control" name="arena[description]" id="description" rows="3"><%=arena.description%></textarea>
            </div>
            <button type="submit" class="btn btn-primary my-3">Update</button>
            <a href="/arenas/<%=arena._id%>" class="btn btn-dark">Cancel</a>
        </form>
    
    
        
    
    