<!-- page showing all the arenas registered with the website.Here, user can also search for a specific name/location/sport -->

<%- layout('./layout/boilerplate.ejs') %>

<div class="jumbotron text-light text-center d-flex flex-column justify-content-center rounded-0 p-0">
    <h1>Welcome to BookMySport!</h1>
    <p>View sports arenas from all over Ontario, Canada</p>
</div>

<div class="container">

    <div class="mb-5 w-75 mx-auto">
        <!-- search string input box -->
        <form class="input-group" method="GET" action="/arenas" >
            
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <input id="search" class="search form-control" type="search" placeholder="Search for an arena/ sport/ location" aria-label="Search" name="search">
            
            <div class="input-group-append">
                <button class="btn btn-danger" type="submit">Search</button>
                <!-- <a class="btn btn-danger navigate"><i class="fas fa-location-arrow"></i>&nbsp Locate Me</a>
                <p id="latitudeInput"></p>
                <p id="longitudeInput"></p> -->
            </div>
        </form>
        
    </div>

    <%if(sstring){%>
        <h2>Search term: '<%=sstring%>'</h1>
    <% }%>

    <%if(sstring && !hasMatch){%>
        <h1>No matches found!</h1>
    <% }%>

    <% if(!sstring){%>
      <h1>Arenas in Ontario, Canada</h1>
    <% }%> 
    
   
   <div class="row mb-5">
        <%for(let arena of allArenas){%>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card mt-4" >
                    <img class="card-img-top" src="<%=arena.images[0].cropped%>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%=arena.name%></h5>
                        <p class="card-text"><%=arena.location%></p>
                        <a href="/arenas/<%=arena._id%>" class="btn btn-primary">View Details</a>
                        <% if (loggedUser && arena.owner.equals(loggedUser._id)){ %> 
                            <a href="/arenas/<%=arena._id%>/bookings" class="btn btn-secondary">View Bookings</a>
                        <% } %> 
                    </div>
                </div>
            </div>
        <%}%>
   </div>
   <!-- <div class="my-5">
        <a href="/arenas/new" class="btn btn-success">Make a new Arena</a>
    </div> -->

</div>
