<%- layout('./layout/boilerplate.ejs') %>

    <h1> Arena Details</h1>
    <h2><%=arena.name%></h2>
    <h3><%=arena.location%></h3>

    <a href="/arenas/<%=arena._id%>/edit">Edit</a>

    <form method="POST" action="/arenas/<%=arena._id%>?_method=DELETE">
        <button>DELETE</button>
    </form>

    <a href="/arenas/list">All Arenas</a>

