<%- layout('./layout/boilerplate.ejs') %>

    <div class="card w-75 mx-auto my-5" >
        <img class="card-img-top" src="<%=arena.image%>/100px180/" alt="">
        <div class="card-body">
          <h5 class="card-title"><%=arena.name%></h5>
          <p class="card-text"><%=arena.description%></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%=arena.location%></li>
            <li class="list-group-item"><span>Price per hour: $ </span> <%=arena.price%></li>
            <li class="list-group-item">Activities available:</li>
          </ul>
          <div class="card-body d-flex">
                <a href="/arenas/<%=arena._id%>/edit" class="btn btn-primary mr-3">Edit</a>
                <form method="POST" action="/arenas/<%=arena._id%>?_method=DELETE">
                    <button class="btn btn-danger mx-3" type="submit">DELETE</button>
                </form>
                <a href="/arenas/list" class="btn btn-dark">Back to all Arenas</a>
          </div>
        </div>
      </div>

