<!-- details of all the bookings made by the user -->

<%- layout('./layout/boilerplate.ejs') %>

<div class="mx-auto my-5 myBookingsDiv">
    <h1 class="text-center">My Bookings</h1>
    <% if (!hasBookings){ %>
      <br> 
      <p class="text-center">No Booking yet!</p>
      
    <% }else{ %> 
      <h2>Upcoming bookings</h2>
      <table class="table table-hover mb-5 mx-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Time (hrs)</th>
            <th scope="col">Sport</th>
            <th scope="col">Arena</th>
            <!-- <th scope="col">Location</th> -->
          </tr>
        </thead>
        <tbody>
          <%let j=0; for (let i=0;i<user.bookings.length;++i){ if(user.bookings[i].date>today){++j; %>
            <tr>
              <th scope="row"><%=j%></th>
              <!-- date -->
              <td><%=(user.bookings[i].date.getMonth()+1)<10? '0'+(user.bookings[i].date.getMonth()+1) : (user.bookings[i].date.getMonth()+1) %>-<%= user.bookings[i].date.getDate()<10?'0'+user.bookings[i].date.getDate():user.bookings[i].date.getDate() %>-<%=user.bookings[i].date.getFullYear()%></td>

              <!-- time -->
              <td> 
                <% if(user.bookings[i].time<10){ %> 
                  <%= user.bookings[i].time%1==0? '0' + user.bookings[i].time : '0'+ (user.bookings[i].time-0.5) %>:<%= user.bookings[i].time%1==0?'00':'30' %>
                <% }else{ %> 
                  <%= user.bookings[i].time%1==0?user.bookings[i].time:user.bookings[i].time-0.5 %>:<%= user.bookings[i].time%1==0?'00':'30' %>
                <% } %> 
                 
              </td>

              <!-- sport -->
              <td><%=user.bookings[i].sport%></td>

              <!-- link to arena -->
              <td><a href="/arenas/<%=user.bookings[i].arenaId._id%>"> <%=user.bookings[i].arenaId.name%> </a></td>

              
            </tr>
          <%}}%>
        </tbody>
      </table>

      <h2>Past bookings <span id="arrow" onclick="toggleArrowDisplay(this)">&#9660;</span> </h2>
      <table class="table table-hover toggleDisplay hidden mb-5 mx-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Time (hrs)</th>
            <th scope="col">Sport</th>
            <th scope="col">Arena</th>
            <!-- <th scope="col">Location</th> -->
          </tr>
        </thead>
        <tbody>
          <%let k=0; for (let i=0;i<user.bookings.length;++i){ if(user.bookings[i].date<=today){k++; %>
            <tr>
              <th scope="row"><%=k%></th>
              <!-- date -->
              <td><%=(user.bookings[i].date.getMonth()+1)<10? '0'+(user.bookings[i].date.getMonth()+1) : (user.bookings[i].date.getMonth()+1) %>-<%= user.bookings[i].date.getDate()<10?'0'+user.bookings[i].date.getDate():user.bookings[i].date.getDate() %>-<%=user.bookings[i].date.getFullYear()%></td>

              <!-- time -->
              <td> 
                <% if(user.bookings[i].time<10){ %> 
                  <%= user.bookings[i].time%1==0? '0' + user.bookings[i].time : '0'+ (user.bookings[i].time-0.5) %>:<%= user.bookings[i].time%1==0?'00':'30' %>
                <% }else{ %> 
                  <%= user.bookings[i].time%1==0?user.bookings[i].time:user.bookings[i].time-0.5 %>:<%= user.bookings[i].time%1==0?'00':'30' %>
                <% } %> 
                 
              </td>

              <!-- sport -->
              <td><%=user.bookings[i].sport%></td>

              <!-- link to arena -->
              <td><a href="/arenas/<%=user.bookings[i].arenaId._id%>"> <%=user.bookings[i].arenaId.name%> </a></td>

              
            </tr>
          <% }}%>
        </tbody>
      </table>
    <% } %> 

    
</div>
