<!-- Shows all the arenas owned by the user, if any -->

<%- layout('./layout/boilerplate.ejs') %>
<div class="mx-auto w-75 my-5">
    <h1 class="text-center">My Arenas</h1>


    <div class="container">
        <div class="row mb-5">
            <%for(let arena of userArenas){%>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card mt-4" >
                        <img class="card-img-top" src="<%=arena.images[0].cropped%>" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><%=arena.name%></h5>
                            <p class="card-text"><%=arena.location%></p>
                            <a href="/arenas/<%=arena._id%>" class="btn btn-primary">View Details</a>
                            <% if (loggedUser && arena.owner.equals(loggedUser._id)){ %> 
                                <a href="/arenas/<%=arena._id%>/bookings" class="btn btn-secondary">View Bookings</a>
                            <% } %> 
                        </div>
                    </div>
                </div>
            <%}%>
    </div>

    </div>
</div>